# Developer Notes
NOTES.md

# Jest Testing (incomplete)
test/

# Airbnb Javascript Styling (unsure how to implement)
javascript/

# Dev Dependencies
node_modules/
client/dist/bundle.js

#VSCODE
.vscode

#DATA SEED
*.csv
package-lock.json
*.log

#NEW RELIC
/newrelic.js
/post-benchmark.txt
/server/index1.js
/server/index2.js
/server/index3.js
/server/index4.js